#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=10.0.0.2 --ip=10.0.0.210 --nameserver=223.5.5.5,223.6.6.6 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$9tqa26i6bmzEVcLg$.rIqWnHrr4HylojJjKU5ScY7Txg2Z/GIwFS07D1jU9C3G2z4FuL35QSRZZw22cn3sapWSZFnnZCJmiBCR1ukg.
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc --nontp
user --groups=wheel --name=haoyu --password=$6$vfX7tJDKYxnF8XD1$XcjvWg1kHUMtGkWj4tl7x7Jxul816z6.mi71iT68Rxgq1h9u.8yDoXlGubvrUFjupyr7c8BPzZdhDYr5YxTTY. --iscrypted --gecos="haoyu"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@compat-libraries
@core
@debugging
@development
@system-admin-tools

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
